/*  ==================================================================================================== 
    ASSETS.CSS - FOR ALL PAGES
    ==================================================================================================== */

/* Basic button structure for all buttons */

.button-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3125rem;
  border-radius: 10px;
  transition:
    background-color 0.1s ease,
    color 0.1s ease,
    box-shadow 0.1s ease;
  cursor: pointer;
  gap: 0.25em;
  height: 3em;
  padding: 1em;
}

/* Button for confirmation (login, sign up, create task, add task, new contact, create contact, save) */

.button-primary {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-weight: 700;
  border: none;
}

.button-primary:hover {
  background-color: var(--color-medium);
  box-shadow: 0 4px 4px var(--color-black-25);
}

.button-primary:active {
  background-color: var(--color-dark-active);
  box-shadow: 0 4px 4px var(--color-black-25);
}

/* Basic button structure for rejection (clear, cancel, delete) */

.button-secondary {
  background-color: var(--color-white);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.button-secondary:hover {
  box-shadow:
    0 4px 4px var(--color-black-25),
    inset 0 0 0 1px var(--color-medium);
}

.button-secondary:active {
  border: 1px solid var(--color-dark-active);
  box-shadow: 0 4px 4px var(--color-black-25);
}

/* Basic toast messages structure */

.toast-message {
  color: var(--color-white);
  font-size: 1.25rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 4px var(--color-black-40);
  position: fixed;
  bottom: -80px;
  left: 50%;
  z-index: 300;
  white-space: nowrap;
  transform: translateX(-50%);
  transition: bottom 0.3s ease-out;
  padding: 1.125em 0.625em;
}

/* Back button */

.back-button {
  background: none;
  border: none;
  cursor: pointer;
}

.back-button img {
  width: 32px;
  height: 32px;
}

/* Close button */

.close-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 2rem;
  line-height: 0;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Option button */

.option-button {
  display: flex;
  align-items: center;
  background: none;
  color: var(--color-dark);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  gap: 0.5em;
  width: 80px;
  padding: 0.5em;
}

.option-button:hover {
  font-weight: 700;
}

/* ##### Other ##### */

@media (width >= 64em) {
  .button-basic {
    height: 3.5em;
  }

  .back-button {
    display: none;
  }
}
