input:focus-visible {
  outline: none;
}

h2 {
  /* font-family: var(--font-family); */
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-dark);
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.d-desktop {
  display: none;
}

.svg-width-height-40px {
  width: 2.5rem;
  height: 2.5rem;
}

.svg-width-height-32px {
  width: 2rem;
  height: 2rem;
}

.fixed-header,
.fixed-footer {
  position: fixed;
  width: 100%;
}

.fixed-header {
  top: 0;
}

.fixed-footer {
  bottom: 0;
}

.board-body {
  flex-direction: column;
  min-height: 100dvh;
}

.board-main-content {
  margin: 8em 1em 5em;
}

.h1-find-addtask-section {
  flex-direction: column;
  gap: 2.5em;
}

.h-addtask-container {
  justify-content: space-between;
}

/* .find-addtask-container {
} */

.find-container {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-168);
  border-radius: 10px;
  padding: 0.5em 1em;
  width: 100%;
}

.find-container:focus-within {
  border-color: var(--color-medium);
}

.find-input-field {
  font-family: var(--font-family);
  font-size: 1.25rem;
  border: none;
  padding: 0;
  flex: 1;
  min-width: 0;
}

.button-reset {
  line-height: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.svg-fill {
  fill: var(--color-dark);
  transition: fill 0s ease 10ms;
}

.svg-fill:hover {
  fill: var(--color-medium);
}

.svg-fill:active {
  fill: var(--color-dark-active);
}

.find-button {
  border-left: 1px solid var(--color-gray-168);
  padding-left: 16px;
}

.board-section {
  flex-direction: column;
  margin: 1.5em 0;
  gap: 1.5em;
}

.board-column {
  flex-direction: column;
  gap: 1em;
}
