/*  ====================================================================================================
    CONTACTS.CSS - CONTACT PAGE - MOBILE VERSION (min-width: 320px)
    ====================================================================================================
    1. STANDARDS (only for testing)
    2. HEADER (Logo, User Account with logout)
    3. MAIN - CONTACT LIST (Contact categories, contacts)
    4. MAIN - CONTACT DETAILS (Contact detail information)
    5. FOOTER (Navigation bar)
    6. ADD CONTACT DIALOG (Dialog window to add new contacts)
    7. OTHER
    ...
    ==================================================================================================== */


/*  ==================================================================================================== 
    1. STANDARDS
    ==================================================================================================== */

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}


html {
    font-size: 1rem;

    scroll-behavior: smooth;

    height: 100%;
}


body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}





/*  ==================================================================================================== 
    2. HEADER
    ==================================================================================================== */

.header-container {
    display: flex;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 1);

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    height: 80px;
    width: 100%;
    padding: 16px 8px;
}


.account-button {
    background-color: white;

    color: rgba(18, 70, 88, 1);
    font-weight: bold;

    border: 2px solid rgba(42, 54, 71, 1);
    border-radius: 50%;

    cursor: pointer;

    width: 40px;
    height: 40px;
}





/*  ==================================================================================================== 
    3. MAIN - CONTACT LIST
    ==================================================================================================== */

.main-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-content: center;
    justify-items: center; */

    background-color: rgba(255, 255, 255, 1);
/* 
    flex: 1;

    gap: 1.5rem; */

    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 80px;
}


.letter-container {
    height: 58px;
    padding: 17px 36px;
    margin: 0;
}


.letter-line {
    border: none;
    border-top: 1px solid rgba(209, 209, 209, 1);

    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}


.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    gap: 35px;
}


.contact-card {
    display: flex;
    align-items: center;

    background: none;
    border: none;

    font: inherit;
    text-align: left;

    cursor: pointer;

    gap: 35px;

    width: 100%;
    padding: 15px 24px;
}


.contact-shortcut {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: green;

    border: none;
    border-radius: 45px;

    color: rgba(255, 255, 255, 1);
    font-weight: 400;

    flex-shrink: 0;

    width: 42px;
    height: 42px;
}


.contact-name {
    color: rgba(0, 0, 0, 1);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
}


.contact-e-mail {
    color: rgba(0, 124, 238, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}


.contact-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: contain;

    background-color: rgba(42, 54, 71, 1);

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    right: 10px;
    bottom: 96px;
    z-index: 50;

    border: 1px solid rgba(42, 54, 71, 1);
    border-radius: 46px;

    flex-shrink: 0;

    cursor: pointer;

    padding: 25px;
    width: 32px;
    height: 32px;
}





/*  ==================================================================================================== 
    4. MAIN - CONTACT DETAILS
    ==================================================================================================== */

/* .contact-details-container {
    display: none;
} */


.contact-details-header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.contact-details-title-container {
    display: flex;
    flex-direction: column;

    gap: 8px;

    padding-top: 66px;
    padding-bottom: 66px;
}


.contact-details-title {
    color: rgba(0, 0, 0, 1);
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
}


.contact-details-subtitle {
    color: rgba(42, 54, 71, 1);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0%;
}


.contact-details-back-button {
    background: none;
    border: none;

    color: rgba(18, 70, 88, 1);
    font-size: 1.5rem;
    font-weight: 600;

    cursor: pointer;

    width: 32px;
    height: 32px;
}


.contact-details-name-container {
    display: flex;
    align-items: center;

    gap: 20px;
}


.contact-details-shortcut {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: green;

    color: rgba(255, 255, 255, 1);
    font-size: 1.6875rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0%;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 70px;

    flex-shrink: 0;

    width: 80px;
    height: 80px;
}


.contact-details-name {
    color: rgba(0, 0, 0, 1);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
}


.contact-details-information-container {
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    margin-bottom: 30px;
}


.contact-details-contact-data {
    display: flex;
    flex-direction: column;

    gap: 15px;
}





/*  ==================================================================================================== 
    5. FOOTER
    ==================================================================================================== */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items:center;

    background-color: rgba(42, 54, 71, 1);

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    height: 80px;
    width: 100%;
    padding: 16px 8px;
}


.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgba(231, 231, 231, 1);
    text-decoration: none;
}





/*  ==================================================================================================== 
    6. ADD CONTACT DIALOG
    ==================================================================================================== */

.add-contact {
    background-color: rgba(255, 255, 255, 1);

    border: none;
    border-radius: 30px;
    outline: none;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

    overflow: hidden;

    transform: translateY(100%);
    transition: transform 0.3s ease-out, display 0.3s ease-out allow-discrete;

    contain: paint layout;

    top: 80px;
    z-index: 200;

    margin-left: auto;
    margin-right: auto;
    /* padding: 66px 24px; */
    width: calc(100% - 28px);
    max-width: 396px;
    height: 760px;
    max-height: calc(100dvh - 160px);
}


.add-contact[open] {
    display: flex;
    flex-direction: column;

    transform: translateY(0);
}


@starting-style {
    .add-contact[open] {
        transform: translateY(100%);
    }
}


.add-contact form {
    display: flex;
    flex-direction: column;

    background: transparent;

    height: 100%;
    width: 100%;
    margin: 0;
}


.add-contact-header-container {
    background-color: rgba(42, 54, 71, 1);

    position: relative;
    
    gap: 12px;

    padding-left: 24px;
    padding-right: 24px;

    height: 352px;
}


.close-button-container {
    display: flex;
    justify-content: right;
}


.close-button {
    background: none;

    color: white;

    border: none;

    cursor: pointer;

    width: 24px;
    height: 24px;
    padding-top: 24px;
}


.add-contact-title-container {
    display: flex;
    flex-direction: column;

    gap: 8px;

    padding-top: 66px;
    padding-bottom: 66px;
}


.add-contact-title {
    color: rgba(255, 255, 255, 1);
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
}


.add-contact-subtitle {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0%;
}


.title-underline {
    display: block;
    
    background-color: rgba(41, 171, 226, 1);

    border-radius: 3px;

    width: 90px;
    height: 3px;
}


.add-contact-shortcut {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(209, 209, 209, 1);

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

    position: absolute;
    left: 50%;
    bottom: 0;

    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 70px;

    transform: translateY(50%);
    transform: translate(-50%, 50%);

    width: 120px;
    height: 120px;
}


.add-contact-main-container {
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 1);

    gap: 15px;

    padding: 80px 16px;
}


.add-contact-input {
    display: flex;
    align-items: center;

    border: 1px solid rgba(104, 104, 104, 1);
    border-radius: 10px;

    height: 30px;
    padding: 13px 21px;
}


.add-contact-input input {
    border: none;
    outline: none;

    flex-grow: 1;

    padding: 0;
}


.add-contact-footer {
    display: flex;
    justify-content: center;

    gap: 20px;

    padding-left: 24px;
    padding-right: 24px;
}


.create-contact-data {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(42, 54, 71, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    gap: 4px;

    padding: 18px 10px;
}


.delete-contact-data {
    display: none;

    background-color: rgba(255, 255, 255, 1);

    color: rgba(42, 54, 71, 1);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0%;

    border: 1px solid rgba(42, 54, 71, 1);
    border-radius: 10px;

    cursor: pointer;

    padding: 18px 10px;
}


.save-contact-data {
    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(42, 54, 71, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    gap: 4px;

    padding: 18px 10px;
}


.toast-contact-created {
    background-color: rgba(42, 54, 71, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0%;

    border: none;
    border-radius: 20px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

    position: fixed;
    bottom: -80px;
    left: 50%;
    z-index: 300;

    white-space: nowrap;

    transform: translateX(-50%);
    transition: bottom 0.3s ease-out;

    padding: 18px 10px;
}


.toast-contact-created.show {
    bottom: 150px;
}





/*  ==================================================================================================== 
    7. OTHER
    ==================================================================================================== */

.show {
    display: block;
}


.hidden {
    display: none;
}
