/*  ====================================================================================================
    CONTACTS.CSS - CONTACTS PAGE - MOBILE VERSION (min-width: 320px)
    ====================================================================================================
    1. STANDARDS (only for testing)
    2. MAIN - CONTACT LIST (Contact categories, contacts)
    3. MAIN - CONTACT DETAILS (Contact detail information)
    4. OTHER
    ...
    ==================================================================================================== */

/*  ==================================================================================================== 
    1. STANDARDS
    ==================================================================================================== */

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;

  scroll-behavior: smooth;

  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  line-height: 1.2;

  min-height: 100vh;
  margin: 0;
}

/*  ==================================================================================================== 
    2. MAIN - CONTACT LIST
    ==================================================================================================== */

.main-container {
  /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-content: center;
    justify-items: center; */

  background-color: rgba(255, 255, 255, 1);
  /* 
    flex: 1;

    gap: 1.5rem; */

  /* margin-top: 80px; */
  margin-top: 0.3125rem;
  margin-bottom: 5rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  /* padding-bottom: 5rem; */
}

.letter-container {
  height: 58px;
  padding: 1.0625rem 2.25rem;
  margin: 0;
}

.letter-line {
  border: none;
  border-top: 1px solid rgba(209, 209, 209, 1);

  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* .contact-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  gap: 2.1875rem;
} */

.contact-card {
  display: flex;
  align-items: center;

  background: none;
  border: none;

  font: inherit;
  text-align: left;

  cursor: pointer;

  gap: 2.1875rem;

  width: 100%;
  padding: 0.9375rem 1.5rem;
}

.contact-shortcut {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: green; */
  background-color: var(--background-color, rgba(77, 77, 255, 1));

  border: none;
  border-radius: 45px;

  color: rgba(255, 255, 255, 1);

  flex-shrink: 0;

  width: 42px;
  height: 42px;
}

.contact-data-container {
  display: flex;
  flex-direction: column;

  gap: 0.3em;
}


.contact-name {
  color: rgba(0, 0, 0, 1);
  font-size: 1.25rem;
}

.contact-e-mail {
  color: rgba(0, 124, 238, 1);
  font-size: 1rem;
}

.contact-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: contain;

  background-color: rgba(42, 54, 71, 1);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  position: fixed;
  right: 10px;
  bottom: 96px;
  z-index: 50;

  border: 1px solid rgba(42, 54, 71, 1);
  border-radius: 46px;

  flex-shrink: 0;

  cursor: pointer;

  padding: 1.5625rem;
  width: 32px;
  height: 32px;
}

/*  ==================================================================================================== 
    3. MAIN - CONTACT DETAILS
    ==================================================================================================== */

/* .contact-details-container {
    display: none;
} */

.contact-details-header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contact-details-title-container {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  padding-top: 4.125rem;
  padding-bottom: 4.125rem;
}

.contact-details-title-container::after {
  display: block;

  background-color: rgba(41, 171, 226, 1);

  border-radius: 0.1em;
  
  content: '';

  width: 5.6em;
  height: 0.2em;
  margin-top: 0.5em;
}


.contact-details-title {
  color: rgba(0, 0, 0, 1);
  font-size: 2.6rem;
  font-weight: 700;
}

.contact-details-subtitle {
  color: rgba(42, 54, 71, 1);
  font-size: 1.25rem;
}

.contact-details-back-button {
  background: none;
  border: none;

  color: rgba(18, 70, 88, 1);
  font-size: 1.5rem;
  font-weight: 600;

  cursor: pointer;

  width: 32px;
  height: 32px;
}

.contact-details-name-container {
  display: flex;
  align-items: center;

  gap: 1.25rem;
}

.contact-details-shortcut {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: green; */
  background-color: var(--background-color, rgba(77, 77, 255, 1));

  color: rgba(255, 255, 255, 1);
  font-size: 1.6875rem;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 70px;

  flex-shrink: 0;

  width: 80px;
  height: 80px;
}

.contact-details-name {
  color: rgba(0, 0, 0, 1);
  font-size: 2.25rem;
  font-weight: 700;
}

.contact-details-information-container {
  display: flex;
  flex-direction: column;

  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.contact-details-contact-data {
  display: flex;
  flex-direction: column;

  gap: 0.9375rem;
}

/*  ##### Contact options ##### */

.contact-option-menu-overlay {
  background-color: rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;

  visibility: hidden;
  opacity: 0;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out,
    visibility 0.3s ease-out;

  width: 100vw;
  height: 100vh;
}

.contact-option-menu-overlay.show {
  visibility: visible;
  opacity: 1;
}

.contact-option-menu-container {
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 1);

  color: rgba(42, 54, 71, 1);
  font-size: 1rem;

  border-radius: 20px 20px 0 20px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  position: fixed;
  bottom: 90px;
  right: 10px;
  z-index: 200;

  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out,
    visibility 0.3s ease-out;

  contain: paint layout;

  gap: 0.5rem;

  width: 116px;
  height: 100px;
  padding: 0.625rem;
}

.contact-option-menu-container.show {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.contact-option-menu-items {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  padding: 0.5rem;
}

/*  ==================================================================================================== 
    4. OTHER
    ==================================================================================================== */

.show {
  display: flex;
}

.hidden {
  display: none;
}
