/*  ====================================================================================================
    CONTACTS_DIALOG.CSS - DIALOG FOR CONTACTS PAGE - MOBILE VERSION (min-width: 320px)
    ====================================================================================================
    1. ADD CONTACT DIALOG (Dialog window to add new contacts)
    2. OTHER
    ...
    ==================================================================================================== */

/*  ==================================================================================================== 
    1. ADD CONTACT DIALOG
    ==================================================================================================== */

.add-contact-container {
  background-color: rgba(255, 255, 255, 1);

  border: none;
  border-radius: 30px;
  outline: none;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

  overflow: hidden;

  transform: translateY(100%);
  transition:
    transform 0.3s ease-out,
    display 0.3s ease-out allow-discrete;

  contain: paint layout;

  top: 85px;
  z-index: 200;

  margin-left: auto;
  margin-right: auto;
  /* padding: 66px 24px; */
  width: calc(100% - 28px);
  max-width: 396px;
  height: 760px;
  max-height: calc(100dvh - 160px);
}

.add-contact-container[open] {
  display: flex;
  flex-direction: column;

  transform: translateY(0);
}

@starting-style {
  .add-contact-container[open] {
    transform: translateY(100%);
  }
}

.add-contact-container form {
  display: flex;
  flex-direction: column;

  background: transparent;

  height: 100%;
  width: 100%;
  margin: 0;
}

.add-contact-header-container {
  background-color: rgba(42, 54, 71, 1);

  position: relative;

  gap: 0.75rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  height: 352px;
}

.close-button-container {
  display: flex;
  justify-content: right;
}

.close-button {
  background: none;

  color: white;

  border: none;

  cursor: pointer;

  width: 24px;
  height: 24px;
  padding-top: 1.5rem;
}

.add-contact-title-container {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  padding-top: 4.125rem;
  padding-bottom: 4.125rem;
}

.add-contact-title {
  color: rgba(255, 255, 255, 1);
  font-size: 2.6rem;
  font-weight: 700;
}

.add-contact-subtitle {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}

.title-underline {
  display: block;

  background-color: rgba(41, 171, 226, 1);

  border-radius: 3px;

  width: 90px;
  height: 3px;
}

.add-contact-shortcut {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(209, 209, 209, 1);

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

  position: absolute;
  left: 50%;
  bottom: 0;

  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 70px;

  transform: translateY(50%);
  transform: translate(-50%, 50%);

  width: 120px;
  height: 120px;
}

.add-contact-main-container {
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 1);

  gap: 0.9375rem;

  padding: 5rem 1rem;
}

.add-contact-input {
  display: flex;
  align-items: center;

  border: 1px solid rgba(104, 104, 104, 1);
  border-radius: 10px;

  height: 30px;
  padding: 0.8125rem 1.4375rem;
}

.add-contact-input input {
  border: none;
  outline: none;

  flex-grow: 1;

  padding: 0;
}

.add-contact-footer {
  display: flex;
  justify-content: center;

  gap: 1.25rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.create-contact-data {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(42, 54, 71, 1);

  color: rgba(255, 255, 255, 1);
  font-size: 1.3rem;
  font-weight: 700;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  gap: 0.25rem;

  padding: 1.125rem 0.625rem;
}

.delete-contact-data {
  display: none;

  background-color: rgba(255, 255, 255, 1);

  color: rgba(42, 54, 71, 1);
  font-size: 1.25rem;

  border: 1px solid rgba(42, 54, 71, 1);
  border-radius: 10px;

  cursor: pointer;

  padding: 1.125rem 0.625rem;
}

.save-contact-data {
  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(42, 54, 71, 1);

  color: rgba(255, 255, 255, 1);
  font-size: 1.3rem;
  font-weight: 700;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  gap: 0.25rem;

  padding: 1.125rem 0.625rem;
}

.toast-contact-created {
  background-color: rgba(42, 54, 71, 1);

  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;

  border: none;
  border-radius: 20px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

  position: fixed;
  bottom: -80px;
  left: 50%;
  z-index: 300;

  white-space: nowrap;

  transform: translateX(-50%);
  transition: bottom 0.3s ease-out;

  padding: 1.125rem 0.625rem;
}

.toast-contact-created.show {
  bottom: 150px;
}
