/* base class */
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.body-login {
  min-height: 100vh;
}

.app {
  position: relative;
  overflow: hidden;
  background-color: var(--color-bg-main);
  width: 100%;
  min-height: 100vh;
  padding: 0 0.5rem;
  gap: 4rem;
}

.header-login {
  height: auto;
  width: 100%;
  padding: 2.31rem 0 0 2.38rem;
}

.header-login img {
  height: 4.88rem;
  width: 4rem;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-size: 2.8rem;
}

/* main class */
.main-login {
  position: relative;
  max-height: 29.7rem;
  max-width: 24.75rem;
  width: 100%;
  border-radius: 1.9rem;
  padding: 2rem 1rem;
  background-color: var(--color-white);
  box-shadow: 0 0 0.875rem 0.1875rem var(--color-black-10);
}

/* form login */
form {
  height: 100%;
  width: 100%;
  gap: 1rem;
}

/* Spacing & Labels */
.pb-1 {
  padding-bottom: 1rem;
  width: 100%;
}

.form-label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

/* form-control (Input-Felder) */
.form-control {
  height: 3rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-gray-104);
  border: 1px solid var(--color-gray-209);
  border-radius: 0.65rem;
  transition: box-shadow 100ms ease-in-out;
}

.form-control:focus {
  outline: 0;
  border: 1px solid var(--color-medium);
}

/* Buttons */
.btn-logins-bar {
  height: 7.5rem;
  width: 11.25rem;
}

.btn {
  height: 3rem;
  width: 100%;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--color-gray-104);
  border-radius: 0.5rem;
  transition: background-color 100ms ease-in-out;
  gap: 0.63rem;
}

.btn-primary {
  color: var(--color-bg-main);
  background-color: var(--color-dark);
  width: 11.25rem;
}

.btn-signup {
  width: 6.5rem;
}

.login-a {
  color: var(--color-black-100);
}

.btn-primary:hover {
  box-shadow: 0 0.25rem 0.5rem var(--color-black-25);
}

.btn-secondary {
  color: var(--color-dark);
  background-color: var(--color-white);
}

.btn-secondary:hover {
  box-shadow: 0 0.25rem 0.5rem var(--color-black-25);
}

/* footer */

.footer-login {
  height: 10.8rem;
  width: 100%;
  gap: 1.5rem;
}

.sign-up-bar {
  height: 3rem;
  max-width: 18.25rem;
  gap: 2.2rem;
}

.sign-up-bar-header {
  display: none;
}

.impress-bar {
  width: 15.375rem;
  height: 2.2rem;
}

.impress-bar a {
  padding: 0.5rem;
}

.heading-accent--bottom-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.heading-accent--bottom-center::after {
  content: "";
  width: 80%;
  height: 0.1875rem;
  background-color: var(--color-highlight);
}

.input-wrapper {
  position: relative;
  max-width: 22.75rem;
  width: 100%;
}

.input-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  pointer-events: none;
}

.error-text {
  height: 1rem;
  width: 100%;
  color: var(--color-error);
  font-size: 0.875rem;
  text-align: center;
  padding-top: 0.5rem;
}

.input-error {
  border: 1px solid var(--color-error);
}

.splash-screen {
  position: fixed;
  inset: 0;
  background-color: var(--color-dark);
  z-index: 999;
}

.splash-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8rem;
  transform: translate(-50%, -50%);
  animation: logo-to-header 2s ease-in-out forwards;
}

@keyframes logo-to-header {
  to {
    top: 2.31rem;
    left: 2.38rem;
    width: 4rem;
    transform: translate(0, 0);
  }
}

/* teblet */
@media (width >= 40rem) and (width < 64rem) {
  .app {
    width: 100%;
    min-height: 100vh;
  }
}

/* Laptop */
@media (width >= 64rem) {
  .app {
    min-width: 64rem;
    width: 100%;
    min-height: 100vh;
    padding: 4.1875rem 7.625rem 2.5rem 4.8125rem;
  }

  .header-login {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 77.5rem;
    height: 6.5rem;
    padding: 0;
  }

  .header-login img {
    height: 6.5rem;
    width: 5rem;
    padding: 0;
  }

  .sign-up-bar-header {
    display: flex;
    gap: 1rem;
  }

  .sign-up-bar {
    display: none;
  }

  .main-login {
    max-width: 41rem;
    height: 28rem;
    width: 100%;
    padding: 2rem 1rem;
  }

  .form-label {
    margin-bottom: 0;
    line-height: 0;
  }

  .input-wrapper {
    width: 26.375rem;
    height: 3rem;
    margin-bottom: 1.25rem;
  }

  .input-bar .input-wrapper:last-of-type {
    margin-bottom: 0.5rem;
  }

  .input-bar {
    width: 26.375rem;
    height: 9.5rem;
    justify-content: flex-start;
  }

  .btn-logins-bar {
    height: 3rem;
    width: 20.125rem;
    flex-direction: unset;
  }

  .btn-primary {
    width: 6.9rem;
  }

  .btn-secondary {
    width: 11rem;
  }

  .footer-login {
    justify-content: end;
    height: 2rem;
  }

  @keyframes logo-to-header {
    to {
      top: 4.1875rem;
      left: 4.8125rem;
      width: 5rem;
      transform: translate(0, 0);
    }
  }
}

/* Desktop */
@media (width >= 90rem) {
  .app {
    max-width: 90rem;
  }

  .header-login {
    height: 7.75rem;
  }

  .header-login img {
    height: 7.75rem;
    width: 6.25rem;
  }

  .splash-screen {
    animation: splash-fade-out 2s ease-in-out forwards;
  }

  @keyframes splash-fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes logo-to-header {
    to {
      opacity: 0;
    }
  }
}
