/* base class */
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.app {
  height: 57.88rem;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.app header {
  height: auto;
  width: 100%;
  padding-top: 2.31rem;
  padding-left: 2.38rem;
}

.app header img {
  height: 4.88rem;
  width: 4rem;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-size: 2.8rem;
}

/* main class */
.main-login {
  max-height: 29.69rem;
  max-width: 24.75rem;
  height: 100%;
  width: 100%;
  border-radius: 1.88rem;
  padding: 2rem 1rem;
  background-color: var(--color-white);
  box-shadow: 0 0 0.88rem 0.19rem rgb(0 0 0 / 14.1%);
}

/* form login */
form {
  height: 100%;
  width: 100%;
}

/* Spacing & Labels */
.pb-1 {
  padding-bottom: 1rem;
  width: 100%;
}

.form-label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

/* form-control (Input-Felder) */
.form-control {
  height: 3rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(34 38 42);
  border: 1px solid var(--color-gray);
  border-radius: 0.65rem;
  transition: box-shadow 100ms ease-in-out; /* statt Bootstraps 150ms */
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/*  Inputs */
.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: rgb(108 117 125);
}

/* Buttons */
.btn-logins-bar {
  height: 7.5rem;
  width: 11.25rem;
}

.btn {
  height: 3rem;
  width: 100%;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #686868;
  border-radius: 0.5rem;
  transition: background-color 100ms ease-in-out;
  gap: 0.63rem;
}

.btn-primary {
  color: var(--color-bg-main);
  background-color: var(--color-dark);
  width: 11.25rem;
}

.login-a {
  color: var(--color-black);
}

.btn-primary:hover {
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 30%);
}

.btn-secondary {
  color: var(--color-dark);
  background-color: var(--color-white);
}

.btn-secondary:hover {
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 30%);
}

/* footer */

.footer-login {
  height: 10.81rem;
  width: 100%;
  gap: 2.19rem;
}

.sign-up-bar {
  height: 3rem;
  max-width: 18.25rem;
  gap: 2.2rem;
}

.impress-bar {
  width: 15.375rem;
  height: 2.2rem;
}

.impress-bar a {
  padding: 0.5rem;
}

/* .heading-accent {
  position: relative;
  height: 72px;
  padding-bottom: 16px;
}

.heading-accent--bottom-center::after {
  content: "";
  position: absolute;
  background-color: #29abe2;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 3px;
  transform: translateX(-50%);
} */

.heading-accent--bottom-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.heading-accent--bottom-center::after {
  content: "";
  width: 80%;
  height: 3px;
  background-color: var(--color-highlight);
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  pointer-events: none;
}

.main-signup {
  max-height: 37.2rem;
  max-width: 24.75rem;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 1.88rem;
  padding: 2rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.88rem 0.19rem #00000024;
}

.signup-back-vector {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

/* .signup-back-vector a:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
} */

.signup-back-vector a {
  display: block;
  width: 100%;
  height: 100%;
}

.signup-header-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
