body {
  font-family: "Inter", sans-serif;
}

#page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "nav";
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.main {
  grid-area: main;
}

.main-header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75em 1em;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.main-header img {
  width: 2rem;
  height: auto;
}

.user-avatar {
  color: #124658;
  width: 2.5rem;
  height: 2.5rem;

  border: 2px solid #2a3647;
  border-radius: 30px;
  background-color: #ffffff;
}

.main-nav {
  grid-area: nav;
  height: 4.7rem;

  background-color: #2a3647;
  z-index: 1000;
}

.main-nav-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 0;
  padding: 0;
}

.main-nav-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-nav img {
  width: 1.5rem;
  height: 1.5rem;
}

.main-nav-item a {
  width: 4.5rem;
  height: 4.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.3rem;

  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.2;

  color: #ffffff;
  text-decoration: none;

  transition: background-color 150ms ease;
}

.main-nav a[aria-current="page"] {
  background-color: #091931;
  border-radius: 1rem;
}

.main-nav-item span {
  color: #ffffff;
}
